*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    
    
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
}

.header{
    /* background-color:blue; */
    width: 80%;
    max-width: 1300px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px ;
    margin: auto;
}
.logo a{
    color: orangered;
    font-size: 23px;     
}
.menu{
    /* background-color: rgb(165, 134, 196); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}
.nav-menu{
    display: flex;
    gap: 25px;
    
}
nav a{
    color: gray;
   
}
nav a:hover{
    color: orangered;
    text-decoration: underline;
    
}
.shopping i{
    font-size: 18px;
    cursor: pointer;
}

.bar i{
    font-size: 18px;
    display: none;
    cursor: pointer;
}

@media(max-width:800px){

nav a{
    display: none;
}
.bar i{
    display: flex;
    font-size: 22px ;
}

}

/* =============Banner section================ */
    
.hero{
    /* background-color: #555; */
    width: 80%;
    max-width: 1300px ;
    display: flex;
}
.detail{
    /* background-color: lightblue; */
    width: 50%;
    padding-top: 140px ;
}
h1{
    font-size: 50px;
    line-height: 1.1;
}
p{
    color: #555;
    font-size: 16px ;
    margin-top: 20px ;
    
}
button{
    margin-top: 50px ;
}
.btn-explore{
    border: none;
    padding: 10px 30px ;    
    border-radius: 30px ;
    font-size: 20px ;
    color: white;
    background-color: orangered;
    transition: 0.3s ease;
}
.btn-explore:hover{
    cursor: pointer;
    background-color: #555;
}
.photo{
    width: 50%;
    /* background-color: lightgreen; */
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.photo img{
    width: 100%;
    height: 100%;
    
}

@media(max-width:800px){
    .hero{
        display: flex;
        flex-direction: column;
    }
    .detail, .photo{
        width: 100%;
    }
    .detail{
        text-align: center;
    }
}

/* ====================Category section============= */
.category{
    display: flex;
    flex-direction: row;
    margin-top: 100px ;
    width: 80%;
    max-width: 1300px ;
    /* background-color: blue; */
    justify-content: space-between;
}
.item-3{
    width: 30% ;
    min-width: 200px ;
    
}
.item-3 img{
    width: 100%;
    height: 100%; 
    border-radius: 20px ; 
    box-shadow: 0px 0px 10px rgb(186, 179, 179);
}

/* ================reponsive category========= */

@media(max-width: 800px){
    
    .category, .item-3{
        display: flex;
        flex-wrap: wrap;
        gap: 24px 0px;
        justify-content: space-around;

        
    }

}


/*============== product section============== */
.product{
    /* background-color: aqua; */
    width: 80%;
    max-width: 1300px ;
}
.title{
    margin: 97px 0px ;
    line-height: 60px ;
    text-align: center;
    color: #555;
}
.all-product{
    display: flex;
    /* background-color: brown; */
    
}
.product-1{
    /* background-color: blue; */
    width: 25%;
    min-width: 200px ;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s; 
    border-radius: 30px ;
}
.product-1 img{
    width: 100%;
    box-shadow: 0px 0px 3px rgb(196, 196, 206);
    border-radius: 30px ;
}
.product-1:hover{
     transform: translateY(-5px);
     box-shadow: 0px 0px 5px grey;
}
.rating{
    color: orangered;
    line-height: 30px;
}
@media(max-width:1024px){
    .all-product{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}


/* ============Latest Products section============ */

.tittle{
    
    margin: 60px 0px ;
    line-height: 40px ;
    text-align: center;
    color: #555;
}
.all-product{
    display: flex;
    flex-wrap: wrap;
}
    /*========== fooetr section========== */

.footer{
    background-color: black;
    width: 100%;
}
.small-footer{
    color: white;
    padding: 30px 0px ;
    text-align: center;
}

.active{
    color: orangered;
    text-decoration: underline;
}